
h1 {
  background-color:#ffffff;
  text-align: center;
  font-family: "serif";
  margin: 3%;
}

p {
    color:black;
    text-align: justify;
    font-family: Arial;
    padding: 1px;
}
input[type=text] {
	padding: 5px;
	width: 100px;
	border-style: solid;
	border-color: #030000;
    font-size: 12px;
}

div{
    background: rgb(11, 173, 248);
    border: 3px solid #EEE;
    border-radius: 10px;
    padding: 50px;
    width: 400px;  

}
